src/MiniProj.code-workspace
src/Client/.vscode/
src/Client/[Bb]in/
src/Client/[Oo]bj/
src/Reservation/.vscode/
src/Reservation/[Bb]in/
src/Reservation/[Oo]bj/
src/Car/.vscode/
src/Car/[Bb]in/
src/Car/[Oo]bj/
src/Notification/.vscode/
src/Notification/[Bb]in/
src/Notification/[Oo]bj/
src/Package/.vscode/
src/Package/[Bb]in/
src/Package/[Oo]bj/
src/Payment/.vscode/
src/Payment/[Bb]in/
src/Payment/[Oo]bj/
*/*/publish/
